# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\jstut\OneDrive (UCR)\OneDrive - email.ucr.edu\UCR\Fall 2020\CS180\Project\cs180project-021-bitnbytes\src\server\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
